md_output/*
myenv/*
examination-dates-summersemester-2025.pdf
examination-dates-Wintersemester-2024.pdf
examination-dates-Wintersemester-2025.pdf
data_analysis.py
.agent/
generate_analytics.py
analytics/
generate_match_report.py
module_match_report.md